<div class="board">
  <div class="h one"></div>
  <div class="h two"></div>
  <div class="h three"></div>
  <div class="h four"></div>
  <div class="h five"></div>
  <div class="h six"></div>
  <div class="h seven"></div>
  <div class="h eight"></div>
  <div class="g one"></div>
  <div class="g two"></div>
  <div class="g three"></div>
  <div class="g four"></div>
  <div class="g five"></div>
  <div class="g six"></div>
  <div class="g seven"></div>
  <div class="g eight"></div>
  <div class="f one"></div>
  <div class="f two"></div>
  <div class="f three"></div>
  <div class="f four"></div>
  <div class="f five"></div>
  <div class="f six"></div>
  <div class="f seven"></div>
  <div class="f eight"></div>
  <div class="e one"></div>
  <div class="e two"></div>
  <div class="e three"></div>
  <div class="e four"></div>
  <div class="e five"></div>
  <div class="e six"></div>
  <div class="e seven"></div>
  <div class="e eight"></div>
  <div class="d one"></div>
  <div class="d two"></div>
  <div class="d three"></div>
  <div class="d four"></div>
  <div class="d five"></div>
  <div class="d six"></div>
  <div class="d seven"></div>
  <div class="d eight"></div>
  <div class="c one"></div>
  <div class="c two"></div>
  <div class="c three"></div>
  <div class="c four"></div>
  <div class="c five"></div>
  <div class="c six"></div>
  <div class="c seven"></div>
  <div class="c eight"></div>
  <div class="b one"></div>
  <div class="b two"></div>
  <div class="b three"></div>
  <div class="b four"></div>
  <div class="b five"></div>
  <div class="b six"></div>
  <div class="b seven"></div>
  <div class="b eight"></div>
  <div class="a one"></div>
  <div class="a two"></div>
  <div class="a three"></div>
  <div class="a four"></div>
  <div class="a five"></div>
  <div class="a six"></div>
  <div class="a seven"></div>
  <div class="a eight"></div>
</div>
