:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  min-height: 440px;
  min-width: 440px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(1fr, 8);
  grid-template-columns: repeat(1fr, 8);
  grid-template-areas: "a8 b8 c8 d8 e8 f8 g8 h8"
                       "a7 b7 c7 d7 e7 f7 g7 h7"
                       "a6 b6 c6 d6 e6 f6 g6 h6"
                       "a5 b5 c5 d5 e5 f5 g5 h5"
                       "a4 b4 c4 d4 e4 f4 g4 h4"
                       "a3 b3 c3 d3 e3 f3 g3 h3"
                       "a2 b2 c2 d2 e2 f2 g2 h2"
                       "a1 b1 c1 d1 e1 f1 g1 h1";
}

div > div {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div > div:hover {
  background-color: yellow;
}


#a_one {
  background-color: black;
  grid-area: a1;
}
#b_one {
  background-color: white;
  grid-area: b1;
}
#c_one {
  background-color: black;
  grid-area: c1;
}
#d_one {
  background-color: white;
  grid-area: d1;
}
#e_one {
  background-color: black;
  grid-area: e1;
}
#f_one {
  background-color: white;
  grid-area: f1;
}
#g_one {
  background-color: black;
  grid-area: g1;
}
#h_one {
  background-color: white;
  grid-area: h1;
}
#a_two {
  background-color: white;
  grid-area: a2;
}
#b_two {
  background-color: black;
  grid-area: b2;
}
#c_two {
  background-color: white;
  grid-area: c2;
}
#d_two {
  background-color: black;
  grid-area: d2;
}
#e_two {
  background-color: white;
  grid-area: e2;
}
#f_two {
  background-color: black;
  grid-area: f2;
}
#g_two {
  background-color: white;
  grid-area: g2;
}
#h_two {
  background-color: black;
  grid-area: h2;
}
#a_three {
  background-color: black;
  grid-area: a3;
}
#b_three {
  background-color: white;
  grid-area: b3;
}
#c_three {
  background-color: black;
  grid-area: c3;
}
#d_three {
  background-color: white;
  grid-area: d3;
}
#e_three {
  background-color: black;
  grid-area: e3;
}
#f_three {
  background-color: white;
  grid-area: f3;
}
#g_three {
  background-color: black;
  grid-area: g3;
}
#h_three {
  background-color: white;
  grid-area: h3;
}
#a_four {
  background-color: white;
  grid-area: a4;
}
#b_four {
  background-color: black;
  grid-area: b4;
}
#c_four {
  background-color: white;
  grid-area: c4;
}
#d_four {
  background-color: black;
  grid-area: d4;
}
#e_four {
  background-color: white;
  grid-area: e4;
}
#f_four {
  background-color: black;
  grid-area: f4;
}
#g_four {
  background-color: white;
  grid-area: g4;
}
#h_four {
  background-color: black;
  grid-area: h4;
}
#a_five {
  background-color: black;
  grid-area: a5;
}
#b_five {
  background-color: white;
  grid-area: b5;
}
#c_five {
  background-color: black;
  grid-area: c5;
}
#d_five {
  background-color: white;
  grid-area: d5;
}
#e_five {
  background-color: black;
  grid-area: e5;
}
#f_five {
  background-color: white;
  grid-area: f5;
}
#g_five {
  background-color: black;
  grid-area: g5;
}
#h_five {
  background-color: white;
  grid-area: h5;
}
#a_six {
  background-color: white;
  grid-area: a6;
}
#b_six {
  background-color: black;
  grid-area: b6;
}
#c_six {
  background-color: white;
  grid-area: c6;
}
#d_six {
  background-color: black;
  grid-area: d6;
}
#e_six {
  background-color: white;
  grid-area: e6;
}
#f_six {
  background-color: black;
  grid-area: f6;
}
#g_six {
  background-color: white;
  grid-area: g6;
}
#h_six {
  background-color: black;
  grid-area: h6;
}
#a_seven {
  background-color: black;
  grid-area: a7;
}
#b_seven {
  background-color: white;
  grid-area: b7;
}
#c_seven {
  background-color: black;
  grid-area: c7;
}
#d_seven {
  background-color: white;
  grid-area: d7;
}
#e_seven {
  background-color: black;
  grid-area: e7;
}
#f_seven {
  background-color: white;
  grid-area: f7;
}
#g_seven {
  background-color: black;
  grid-area: g7;
}
#h_seven {
  background-color: white;
  grid-area: h7;
}
#a_eight {
  background-color: white;
  grid-area: a8;
}
#b_eight {
  background-color: black;
  grid-area: b8;
}
#c_eight {
  background-color: white;
  grid-area: c8;
}
#d_eight {
  background-color: black;
  grid-area: d8;
}
#e_eight {
  background-color: white;
  grid-area: e8;
}
#f_eight {
  background-color: black;
  grid-area: f8;
}
#g_eight {
  background-color: white;
  grid-area: g8;
}
#h_eight {
  background-color: black;
  grid-area: h8;
}


