<div class="piece-row">
  <div class="piece-container" (click)="clickBishop()">
    <div class="container">
      <img src="assets/Chess_bdt45.svg">
      <img src="assets/Chess_blt45.svg">
    </div>
    <div class="container">
      <div class="piece-name">Bishop</div>
    </div>
  </div>
  <div class="piece-container" (click)="clickKing()">
    <div class="container">
      <img src="assets/Chess_kdt45.svg">
      <img src="assets/Chess_klt45.svg">
    </div>
    <div class="container">
      <div class="piece-name">King</div>
    </div>
  </div>
  <div class="piece-container" (click)="clickQueen()">
    <div class="container">
      <img src="assets/Chess_qdt45.svg">
      <img src="assets/Chess_qlt45.svg">
    </div>
    <div class="container">
      <div class="piece-name">Queen</div>
    </div>
  </div>
</div>
<div class="piece-row">
  <div class="piece-container" (click)="clickRook()">
    <div class="container">
      <img src="assets/Chess_rdt45.svg">
      <img src="assets/Chess_rlt45.svg">
    </div>
    <div class="container">
      <div class="piece-name">Rook</div>
    </div>
  </div>
  <div class="piece-container" (click)="clickPawn()">
    <div class="container">
      <img src="assets/Chess_pdt45.svg">
      <img src="assets/Chess_plt45.svg">
    </div>
    <div class="container">
      <div class="piece-name">Pawn</div>
    </div>
  </div>
  <div class="piece-container" (click)="clickKnight()">
    <div class="container">
      <img src="assets/Chess_ndt45.svg">
      <img src="assets/Chess_nlt45.svg">
    </div>
    <div class="container">
      <div class="piece-name">Knight</div>
    </div>
  </div>
</div>
